.venv
.ChronosVenv/
.Chronos2_main/
__pycache__/
Nunzio/provaData/
IMS
NAB
TSB-AD-M
TSB-AD-M.zip
TSB-AD-U
TSB-AD-U.zip
Aldo_/
TAB
TRAIN_SPLIT*
TRAIN_V3_CLEAN
SKAB
WADI
PROCESSED_TRAIN_DATA*
TEST_SPLIT*
SAVED_MODEL*
TRAIN_MULTI_CLEAN